app.conf
_build/
logs
conf/
*.test
*.swp
env.sh
*.profile
*.log
*.db
*.rpm
*.svg
GTAGS
GPATH
GRTAGS
cover
dump.rdb
.#*
*.pyc
.DS_Store
py_api_tests/
.vscode/
src/test/
release/
docker/
test/*/node_modules
package-lock.json
cryptoex_app/bin/*
proto/*/*.pb.go
proto/*/*.micro.go
go.sum
.idea/  